<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example2"
    versionCode = "10"
    version     = "1.0.0" >
    
  <name>Pitagorapp</name>
    
  <description>
      App per i calcoli sul triangolo rettangolo con il Teorema di Pitagora
       costruita con HTML5, Skeleton CSS e Javascript
  </description>
    
  <author>
      Alessandro Visigalli
  </author>
    
    <platform name="android">
              <icon src="images/icon.png" density="ldpi" />
              <icon src="images/icon.png" density="mdpi" />
              <icon src="images/icon.png" density="hdpi" />
              <icon src="images/icon.png" density="xhdpi" />
     </platform>
   
</widget>
